{% extends "base.html" %}

{% block title %}GENEie NIF Calculator{% endblock %}

{% block content %}
<div class="row mt-3 mx-3">
    <div class="col-sm-12 col-lg-8">
        <div class="card">
            <div class="card-header">
                <div>
                    <h3 class="card-title">
                        Calculate NIFs' for custom sequence
                    </h3>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="row mt-3 px-3">
                    <div class="col-sm-12 col-lg-9">
                        <div class="mb-3">
                            <textarea id="sequenceInput" class="form-control" rows="5"></textarea>
                            <div id="errorMessage"
                                class="alert alert-important alert-danger alert-dismissible mt-3 hide">
                                <!-- Error message-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 pb-3">
                        <button id="generateNifTable" class="btn btn-secondary w-100">Generate NIF table</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-4">
        <div class="card">
            <div class="card-status-start bg-green"></div>
            <div class="card-body">
                <h3 class="card-title">Help</h3>
                <p class="text-secondary">Use IGV or your preferred genome browser and paste the sequence of interest,
                    or enter a custom sequence</p>
                
                <h5>Examples:</h5>
                <div class="list-group list-group-flush">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action p-2">
                            <a
                                href="?sequence=CTGAAGAGGAGTGCAAGGATAGGTGCGTAGTGGGGGAGCCCAGGGACGGGCTGGTTCTGGGTCCAGGCTCCTGGCCCACTTGCTCCCCTCTTTTGCCTCAGGGAACGCCCCATGTACGGCCGGGACAGTGCCTACCAGA">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">CTCAAAGAACCTCTGGGT...</h5>
                                </div>
                            </a>
                            <small class="text-body-secondary">Click to view Donor & Acceptor NIF values for EMD Intron 5</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-3">
    <div class="col-12 table-responsive">
        <table id="nifTable" class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Offset</th>
                    <th scope="col">Motif type</th>
                    <th scope="col">Sequence</th>
                    <th scope="col">U5</th>
                    <th scope="col">U1</th>
                    <th scope="col">U6</th>
                    <th scope="col">A9_A1</th>
                    <th scope="col">A8_E1</th>
                    <th scope="col">A7_E2</th>
                </tr>
            </thead>
            <tbody id="nifTableBody" class="table-group-divider">
                <!-- Rows will be dynamically inserted here -->
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Datatables JS -->
<script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.1.5/b-3.1.2/b-html5-3.1.2/datatables.min.js"></script>

<script src="{{ url_for('static', filename='js/utils.js') }}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let table = null;
        const sequenceParam = new URLSearchParams(window.location.search).get('sequence');

        // If there is a sequence in the URL, populate the textarea and generate the NIF table
        if (sequenceParam) {
            const decodedSequence = decodeURIComponent(sequenceParam);
            const textarea = document.getElementById('sequenceInput');
            textarea.value = decodedSequence.trim();
            generateNifTable(decodedSequence.trim());
        }

        document.getElementById('generateNifTable').addEventListener('click', function () {
            const textarea = document.getElementById('sequenceInput');
            const sequence = textarea.value.trim();
            generateNifTable(sequence);
        });

        function generateNifTable(sequence) {
            var errorMessage = document.getElementById('errorMessage');

            // Clear previous error message
            hideError(errorMessage);

            // Validate input
            if (!sequence) {
                showError(errorMessage, 'Error: Sequence cannot be empty.');
                return;
            }

            if (!/^[ATCG]+$/i.test(sequence)) {
                showError(errorMessage, 'Error: Sequence must contain only valid nucleotides (A, T, C, G).');
                return;
            }

            if (sequence.length >= 1000) {
                showError(errorMessage, 'Error: Sequence must be ≤ 1000 nucleotides in length');
                return;
            }

            // Input is valid, proceed with API call
            const apiUrl = `/api/generate_nif_table?sequence=${encodeURIComponent(sequence)}`;

            fetch(apiUrl)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    // Clear previous table data
                    const tableBody = document.getElementById('nifTableBody');
                    tableBody.innerHTML = '';

                    // Reinitialize Datatables or redraw if it's already initialized
                    if (table) {
                        table.clear().destroy(); // Destroy existing instance
                    }

                    // Ensure data is mapped in the correct order: motif_type, seq, U5, U1, U6, A9_A1, A8_E1, A7_E2
                    data.forEach(row => {
                        const { U5, U1, U6, A9_A1, A8_E1, A7_E2 } = row;

                        const allUColumnsZero = (U5 == 0 && U1 == 0 && U6 == 0);
                        const allAColumnsZero = (A9_A1 == 0 && A8_E1 == 0 && A7_E2 == 0);

                        if (allUColumnsZero || allAColumnsZero) {
                            // Skip this row if it matches the filter condition
                            return;
                        }

                        const tr = document.createElement('tr');

                        const columns = [
                            row.offset,
                            row.motif_type,
                            formatSequence(row.seq, row.motif_type),
                            row.U5,
                            row.U1,
                            row.U6,
                            row.A9_A1,
                            row.A8_E1,
                            row.A7_E2
                        ];

                        columns.forEach((cellValue, index) => {
                            const td = document.createElement('td');
                            td.innerHTML = cellValue !== undefined ? cellValue : ''; // Use innerHTML to handle formatted sequences

                            if (index === 2) {
                                td.style.fontFamily = 'monospace';
                            }

                            if (index === 3 || index === 4 || index === 5) {
                                const opacity = Math.min(cellValue / 1.0, 1);
                                td.setAttribute('style', getHexColorStyle('#d95100', opacity));
                                td.classList.add('nif-value');
                            }

                            if (index === 6 || index === 7 || index === 8) {
                                const opacity = Math.min(cellValue / 1.0, 1);
                                td.setAttribute('style', getHexColorStyle('#a700f5', opacity));
                                td.classList.add('nif-value');
                            }

                            tr.appendChild(td);
                        });

                        tableBody.appendChild(tr);
                    });

                    table = new DataTable('#nifTable', {
                        lengthMenu: [
                            [50, 100, 200, -1],
                            [50, 100, 200, 'All']
                        ],
                        layout: {
                            bottomStart: {
                                buttons: [
                                    'copy'
                                ]
                            }
                        },
                    });
                })
                .catch(error => {
                    errorMessage.textContent = 'Error fetching data from the server: ' + error.message;
                });
        }
    });
</script>
{% endblock %}